
* {
  background-color: black;
  margin: 6px;
  color: gray;
  padding: 0;
  
}
.nav{
  height: 70px;
  
  display: flex; 
  align-items: center;
  justify-content: space-between;   
}
.nav__img{
  object-fit: cover;
  transition: all .5s;
  overflow: hidden;
}




.nav__img:hover {
    transform: scale(1.2);
   
}


.nav__input{
  display: none;
}

.nav__figure{
  order: -1;

  display: grid;
  grid-template-areas: img;

  z-index: 10;

  --logo-hidden: 0;
  --logo-show: 1; 
}

.nav__input:checked + .nav__toggle{
  background-image: url('../imagenes/click.jpg');
}

svg path{
  fill: #000;
}

.nav__input:checked ~ .nav__figure{
  --logo-hidden: 1;
  --logo-show: 0;
}

.nav__input:checked ~ .nav__content{
  clip-path: circle(150% at top right);

  --opacity: 1;
  --transform: translateY(0);
}

.nav__logo{
  grid-area: img;
  opacity: var(--logo-show);
  border-radius:50%;
  margin: 0;
  object-fit: cover;
  transition: all .5s;
  overflow: hidden;
}




.nav__logo:hover {
    transform: scale(1.2);
   
}

.nav__logo--hidden{
  opacity: var(--logo-hidden);
}

.nav__toggle{
  width: 100px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../imagenes/click.jpg');

  z-index: 100;
  cursor: pointer;
  border-radius:50%;
  margin: 0;
  object-fit: cover;
  transition: all .5s;
  overflow: hidden;
}




.nav__toggle:hover {
    transform: scale(1.2);
   
}

.card-img-top{
   border-radius:20%;
  margin: 0;
  background-color: #000;
}

.nav__content{
  --opacity: 0;
  --transtion: opacity .3s .7s;


  padding-top: 80px;
  padding-bottom: 80px;

  display: flex;
  flex-direction: column;
  
  position: absolute;
  inset: 0;

  

  clip-path: circle(0% at 100% 0);
  transition: clip-path .8s;

  
}

.nav__list{
  opacity: var(--opacity);
  transition: var(--transtion);

  padding: 0;
  list-style: none;
}

.nav__item{
  border-top: 2px solid var(--grayish-blue);
  padding: 16px 0;
  text-align: center;
}

.nav__link{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

.nav__link--last{
  display: block;
  border: 3px solid #fff;
  padding: 1em 0;
  border-radius: 3px;
}

.nav__media{
  opacity: var(--opacity);
  transition: var(--transtion);
  margin-top: auto;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.hero{
  padding: 40px 0;
  display: grid;
  grid-template-columns:
  5% 1fr 5%;
  row-gap: 2rem;
  grid-template-rows: max-content max-content;
}

.hero::after{
  content: "";
  grid-column: 2/4;
  grid-row: 1/2;

  align-self: end;
  justify-self: end;

  width: 60%;
  aspect-ratio: 3/2;

  z-index: -1;


  border-radius: 80px 0 0 80px;

  max-width: 400px;
  background-color: var(--soft-blue);
}

.hero__figure{
  grid-column: 2/3;
  grid-row: 1/2;
  
}






.hero__texts{
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
}

.hero__title{
  font-size: 2rem;
}

.hero__paragraph{
  
  line-height: 1.5;
  color: var(--grayish-blue);
  margin: 1.5rem 0 1rem;
}







h1{
    color: rgb(48, 48, 49);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}





.caja5 {
  bottom: 200px;
  left: 0px;
  display: inline-block;
  margin: 0%;
  
}






.col-1 {
  width: 1fr;
}

.col-2 {
  width: 2fr;
}

.col-3 {
  width: 3fr;
}

.grid {
  display: grid;
  grid-template-areas: "header header header" "productos productos productos" "servicios servicios servicios" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  height: 100vh;
}

.border {
  border: 1px rgb(251, 249, 249);
}

header {
  grid-area: header;
  background-image: black;
}

#productos {
  grid-area: productos;
}

#servicios {
  grid-area: servicios;
  background-image: linear-gradient(to left, rgb(115, 112, 112), black, black);
}

footer {
  grid-area: footer;
}

body {
  background-color: black;
}

.animacion {
  z-index: 1;
}
span.cuatro,
span.dos,
span.tres,
span.uno {
  border: 0;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  animation: vuela 7s linear infinite normal both;
}
span.uno {
  width: 100px;
  height: 100px;
  background-color: #E86BFF;
  bottom: -100px;
}
span.dos {
  width: 70px;
  height: 70px;
  background-color: #90BAFF;
  bottom: -70px;
}
span.tres {
  width: 50px;
  height: 50px;
  background-color: #FF5071;
  bottom: -50px;
}
span.cuatro {
  width: 20px;
  height: 20px;
  background-color: #67F3D4;
  bottom: -20px;
}
@keyframes vuela {
  from {
      transform: rotate(0deg);
      bottom: 0;
      opacity: 0;
  }
  5% {
      opacity: 1;
  }
  60% {
      opacity: 1;
  }
  to {
      transform: rotate(360deg);
      bottom: calc(100% + 100px);
      opacity: 0;
  }
}

.animacion span:nth-child(1) {
  left: 20%;
  animation-delay: 3s;
}
.animacion span:nth-child(2) {
  left: 50%;
}
.animacion span:nth-child(3) {
  left: 35%;
  animation-delay: 5s;
}
.animacion span:nth-child(4) {
  left: 75%;
  animation-delay: 1s;
}
.animacion span:nth-child(6) {
  left: 85%;
  animation-delay: 3s;
}
.animacion span:nth-child(7) {
  left: 90%;
  animation-delay: 5s;
}
.animacion span:nth-child(8) {
  left: 65%;
}
.animacion span:nth-child(9) {
  left: 60%;
}
.animacion span:nth-child(10) {
  left: 75%;
  animation-delay: 6s;
}
.animacion span:nth-child(11) {
  left: 10%;
}
.animacion span:nth-child(12) {
  left: 45%;
  animation-delay: 3s;
}

.input-text{
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  }
  
  .icon {
  padding: 15px;
  background-color: rgb(59, 9, 76);
  color: white;
  min-width: 50px;
  text-align: center;
  margin-left: 70px;
  
  }
  
  .input_text_form{
  padding: 15px;
  width: 80%;
  outline: none;
  }
  
  
  


@media (max-width: 320px) {
  
  
  
  .hero__figure{
    width: 50px;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: start;
  }
  
  .hero__img{
    width: 20px;
    margin: 1px;
    
  }
  
  
  .hero__texts{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: start;
  }
  
  .hero__title{
    font-size: 30px;
    text-align: start;
  }
  
  .hero__paragraph{
    line-height: 3;
    
   
  }
  
  
  
  .hero__cta{
    font-weight: 500;
    padding: 1em ;
    background-color: var(--soft-blue);
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
  
    
  }


  .nav__figure{
    width: 20px;
  }
  .caja2 {
    margin-left: 10%;
    text-align: center;

  }
  
  
  }


@media (max-width: 1024px) {
  .hero__figure{
    width: 50px;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: start;
  }
  
  .hero__img{
    width: 600px;
    margin: 1px;
    
  }
  
  
  .hero__texts{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: start;
  }
  
  .hero__title{
    font-size: 30px;
    text-align: start;
  }
  
  .hero__paragraph{
    line-height: 3;
    
   
  }
  
  
  
  .hero__cta{
    font-weight: 500;
    padding: 1em ;
    background-color: var(--soft-blue);
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
  
    
  }


  .nav__figure{
    width: 20px;
  }  
  .caja2 {
    margin-left: 10%;
  }
  form{
    text-align: center;
  }
}






/*# sourceMappingURL=main.css.map */
