*{
    background-color: rgb(8, 1, 1);
    color: rgb(254, 255, 255);
    text-align: center;
   
    
  }
  
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    min-height: 100vh;
    font-family: 'Seurat', sans-serif;
  }
  
  .button {
    
    display: flex;
   
    
    position: relative;
    border-radius: 50px;
    padding: 16px 24px;
    background-color: #ecf2f3;
   
    
    &:active {
      transform: scale(.92);
      
      &::after {
        opacity: 1;
      }
    }
    
    
  }
  
  .button-image {
    width: 1.75em;
    height: 1.75em;
    object-fit: contain;
  }
  
 

.img1{
    border-radius:50%;
    margin: 0;
}



