$ochentaporciento: 80%;
$inline: inline-block;
.caja2{
        display: $inline;
        margin-left: $ochentaporciento;
        
        
    }
    
 .caja5{
        
        bottom: 200px;
        left: 0px;
        display: $inline;
        margin: 0%;
        
    }
    

       
       
       
    
