$ochentaporciento: 80%;
$inline: inline-block;
.caja2{
        display: $inline;
        margin-left: $ochentaporciento;
        
        
    }
    
 .caja5{
        
        bottom: 200px;
        left: 0px;
        display: $inline;
        margin: 0%;
        
    }
    
.caja8{
        margin-left: 40%;
        opacity: $ochentaporciento;
       
    }
.img-fluid{ 
   
   
    margin-left:  35%;
   
        opacity: 50%;
    }
       
       
       
    
